<#assign imagePath="${ctxPath}/base/images">
<#assign cssPath="${ctxPath}/base/css">
<#assign jsPath="${ctxPath}/base/js">
<script type="text/javascript">
	var ctxPath="${ctxPath}";
	var imagePath="${ctxPath}/base/images";
</script>


<link rel="stylesheet" href="/ui/layui/css/layui.css">
<link rel="stylesheet" href="/ui/layui/css/style.css">
<script src="/ui/layui/layui.js"></script>
<!--Project CSS Content-->  
<script type="text/javascript" src="${ctxPath}/jquery/jquery-1.8.3.js"></script>
<script type="text/javascript" src="${ctxPath}/js/json.js"></script> 
<script type="text/javascript" src="${ctxPath}/js/jquery.extend.js"></script>
<script type="text/javascript" src="${ctxPath}/lib/common.js"></script>
<script type="text/javascript" src="${ctxPath}/lib/pageSupport.js"></script> 
<script type="text/javascript" src="${ctxPath}/js/jquery.form.js"></script>
<script type="text/javascript" src="${ctxPath}/lib/apputil.js"></script>  
<script type="text/javascript" src="${ctxPath}/lib/ui.js"></script>
<script type="text/javascript" src="${ctxPath}/lib/jquery.validate.js"></script>

<script type="text/javascript" src="${ctxPath}/common/js/webui.js"></script>
<script type="text/javascript" src="${ctxPath}/common/js/msg.content.js"></script>

<link rel="stylesheet" href="${ctxPath}/css/style.css" type="text/css"/>


<link rel="stylesheet" href="${ctxPath}/plugins/tree/css/zTreeStyle/zTreeStyle.css"/>
<script type="text/javascript" src="${ctxPath}/plugins/tree/js/jquery.ztree.all-3.4.js"></script>
<!-- <script type="text/javascript" src="${ctxPath}/plugins/tree/js/jquery.ztree.excheck-3.4.js"></script>
<script type="text/javascript" src="${ctxPath}/plugins/tree/js/jquery.ztree.exedit-3.4.js"></script> -->
<script type="text/javascript" src="${ctxPath}/plugins/tree/js/jquery.ztree.exhide-3.4.js"></script>
<script type="text/javascript" src="${ctxPath}/plugins/tree/treeutil.js"></script>

<!-- <script type="text/javascript" src="${ctxPath}/layui/formSelects-v4.js"></script> -->
<link rel="stylesheet" href="/layui/formSelects-v4.css">
<script type="text/javascript" src="${ctxPath}/plugins/tree/treeutil.js"></script>
<link rel="stylesheet" href="${ctxPath}/plugins/dropdown/dropdown.css" type="text/css"/>

<!-- <script src="${ctxPath}/echarts/lib/esl.js"></script>
<script src="${ctxPath}/echarts/lib/config.js"></script> -->
