<script type="text/javascript">
	var ctxPath="${ctxPath}";
	var imagePath="${ctxPath}/base/images";
	var server = "192.168.1.182:86";
	var overlay_mapServer="http://"+server+"/overlay/{z}/{x}/{y}.png";
	var mapServer = overlay_mapServer;
</script>
<link rel="stylesheet" href="https://indestructibletype.com/fonts/Jost.css" type="text/css" charset="utf-8" />
<link href="/module/base/css/style.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="${ctxPath}/jquery/jquery-3.1.0.js"></script>
<script type="text/javascript" src="${ctxPath}/lib/common.js"></script>
<script type="text/javascript" src="${ctxPath}/lib/ui.js"></script>
<script type="text/javascript" src="${ctxPath}/module/base/js/login.js"></script>
<script type="text/javascript" src="${ctxPath}/module/base/js/academic.js"></script>
<script type="text/javascript" src="${ctxPath}/module/base/js/home.js"></script>
<script type="text/javascript" src="${ctxPath}/module/base/js/tutorial.js"></script>
<script type="text/javascript" src="${ctxPath}/module/base/js/contact.js"></script>
<script type="text/javascript" src="${ctxPath}/module/base/js/about.js"></script>
<script type="text/javascript" src="${ctxPath}/lib/pageSupport.js"></script>
<!-- 遮罩层 file start-->
<link href="${ctxPath}/layer/theme/default/layer.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="${ctxPath}/layer/layer.js"></script>
<!-- 遮罩层 file end -->
<link href="${ctxPath}/layui/css/layui.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="${ctxPath}/layui/layui.js"></script>
<link rel="icon" href="/module/base/images/favicon.ico" type="image/x-icon"/>
<link rel="shortcut icon" href="/module/base/images/favicon.ico" type="image/x-icon"/>
<script type="text/javascript" src="${ctxPath}/module/base/js/base64.mini.js"></script>
<script type="text/javascript" src="${ctxPath}/module/base/js/validate.js"></script>
