<!DOCTYPE html>
<html style="width: 100%; height: 100%;">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>BSDMS - Role check</title>
    <link rel="stylesheet" href="https://indestructibletype.com/fonts/Jost.css" type="text/css" charset="utf-8" />
    <#include "/common/content/base.html">
    <link href="/module/base/main/css/style.css" type="text/css" rel="stylesheet" />
</head>
<body style="width: 100%; height: 100%;overflow: hidden">
<div class="bg">
    <!-- content -->
    <div class="content" style="height: 100%">
        <div class="title">
            <h1>Welcome to BSDMS</h1>
            <h3>Identity selection</h3>
            <b>Please access the system based on your identity, and the system will recognize the functions based on your identity.</b>
        </div>
        <div class="identity">
            <div class="identity_content indentiey_l">
                <dl>
                    <dt><img src="/module/base/main/images/icon_07.png"></dt>
                    <dd>Key holder</dd>
                </dl>
                <a class="but_color1" onclick="login.openLogin(0)">Click to log in<img src="/module/base/main/images/icon_09.png"></a>
            </div>
            <div class="identity_content indentiey_r">
                <dl>
                    <dt><img src="/module/base/main/images/icon_08.png"></dt>
                    <dd>Regular</dd>
                </dl>
                <a class="but_color2" onclick="login.openLogin(1)">Click to log in<img src="/module/base/main/images/icon_09.png"></a>
            </div>
        </div>
    </div>
    <!-- content -->
</div>
</body>
</html>

